FlightsNorway.Phone/Service References/MonitoringWebService/MonitoringWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MonitorFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callbackUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MonitorFlightResponse">
        <s:complexType />
      </s:element>
      <s:element name="StopMonitoringFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callbackUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopMonitoringFlightResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MonitorFlightSoapIn">
    <wsdl:part name="parameters" element="tns:MonitorFlight" />
  </wsdl:message>
  <wsdl:message name="MonitorFlightSoapOut">
    <wsdl:part name="parameters" element="tns:MonitorFlightResponse" />
  </wsdl:message>
  <wsdl:message name="StopMonitoringFlightSoapIn">
    <wsdl:part name="parameters" element="tns:StopMonitoringFlight" />
  </wsdl:message>
  <wsdl:message name="StopMonitoringFlightSoapOut">
    <wsdl:part name="parameters" element="tns:StopMonitoringFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="MonitoringWebServiceSoap">
    <wsdl:operation name="MonitorFlight">
      <wsdl:input message="tns:MonitorFlightSoapIn" />
      <wsdl:output message="tns:MonitorFlightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopMonitoringFlight">
      <wsdl:input message="tns:StopMonitoringFlightSoapIn" />
      <wsdl:output message="tns:StopMonitoringFlightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitoringWebServiceSoap" type="tns:MonitoringWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MonitorFlight">
      <soap:operation soapAction="http://tempuri.org/MonitorFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopMonitoringFlight">
      <soap:operation soapAction="http://tempuri.org/StopMonitoringFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonitoringWebServiceSoap12" type="tns:MonitoringWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MonitorFlight">
      <soap12:operation soapAction="http://tempuri.org/MonitorFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopMonitoringFlight">
      <soap12:operation soapAction="http://tempuri.org/StopMonitoringFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringWebService">
    <wsdl:port name="MonitoringWebServiceSoap" binding="tns:MonitoringWebServiceSoap">
      <soap:address location="http://localhost:8888/MonitoringWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MonitoringWebServiceSoap12" binding="tns:MonitoringWebServiceSoap12">
      <soap12:address location="http://localhost:8888/MonitoringWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>